{% extends "base.html.twig" %}

{% block title %}Self Love{% endblock %}

{% block body %}
    <h1>Find your reviews here</h1>
    <table class="table table-striped" id="reviews">
        <thead>
            <tr class="table-active">
                <th scope="col">Reviews</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.title }}</td>
                    <td>
                        <a type="button" href="review/{{ review.id }}" class="btn btn-primary">View</a>
                        <a type="button" href="#" data-id="{{ review.id }}"class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 
{% endblock %}

{% block javascripts %}
    <script src="js/myscript.js"></script>
{% endblock %}